.window-frame {
  display: flex;
  justify-content: end;
  padding: 3px;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12px);
  -webkit-app-region: drag;
  button {
    cursor: pointer;
    -webkit-app-region: no-drag;
    background-color: blue;
    border-radius: 50%;
    padding: 6px;
  }
  .controls {
    display: flex;
    gap: 3px;
    padding: 3px;
    border-radius: 9px;
    background: rgba(0, 0, 0, 0.25);
  }
  .minimize-button {
    background: yellowgreen;
  }
  .close-button {
    background: crimson;
  }
}
