.window-frame {
  display: flex;
  justify-content: end;
  padding: 6px;
  top: 0;
  gap: 6px;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid black;
  -webkit-app-region: drag;
  button {
    -webkit-app-region: no-drag;
    background-color: blue;
    border-radius: 50%;
    padding: 8px;
  }
  .minimize-button {
    background: yellowgreen;
  }
  .close-button {
    background: crimson;
  }
}
