@import "../../../src/scss/modules/core";

body {
  @include flex(space-evenly, center, column);
  background: #121212;
  color: white;
  padding: 12px;
}
.encoder-wrapper,
.decoder-wrapper {
  gap: 6px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: 100%;
  .label {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 8pt;
    i {
      font-size: 12pt;
    }
  }
  .content {
    display: flex;
    gap: 12px;
    padding: 12px;
    border-radius: 12px;
    background: #232323;
    border: 1px solid rgb(156, 156, 156);
    flex-direction: column;
    width: 100%;
    input,
    button {
      width: 100%;

      padding: 6px 12px;
      background: gainsboro;
      border: 1px solid rgb(156, 156, 156);

      border-radius: 6px;
    }
    button {
      cursor: pointer;
      &:hover {
        background: rgb(106, 106, 106);
      }
    }
  }
}
